.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: rgb(var(--highlightColor1));
    box-shadow: 0 1em 5em rgba(var(--secondaryColor1),0.1);
    padding: 0.2em;
}

.iconStyle {
    width: 2em;
    height: 2em;
    transform: rotateZ(-60deg);
}

.headerContainer > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 2em;
    letter-spacing: 0.2em;
    user-select: none;
}